<!-- Your HTML code -->
<div class="contact-container">
    <!-- <h2>Add Contact</h2> -->
    <div class="image-container">
        <div>
            <img class="LrbNhc tUOMob"
        src="https://www.gstatic.com/identity/boq/profilepicturepicker/photo_silhouette_e02a5f5deb3ffc173119a01bc9575490.png"
        alt="Contact photo"
        width="125"
        height="125"
        >
        </div>
      
    </div>
    <form style="margin-left: 0px;" #contactForm="ngForm">
    <div class="row">
        <div class="p-field">
            <label for="firstname">First Name</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <input id="firstname" type="text" pInputText [(ngModel)]="contact.first_name" name="firstname" placeholder="First name" required />
           
            </div>
            <p-message 
            *ngIf="contactForm.controls['firstname']?.touched && contactForm.controls['firstname'].errors?.['required']"
                 severity="error"
                [style]="{'width':'490px','margin-top': '20px'}"
                 text="First name is required">
            </p-message>
          </div>

          
          <div class="p-field">
            <label for="lastname">Last Name</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <input id="lastname" type="text" pInputText [(ngModel)]="contact.last_name" name="lastname"  placeholder="Last name" required/>
         
            </div>
            <p-message 
            *ngIf="contactForm.controls['lastname']?.touched && contactForm.controls['lastname'].errors?.['required']"
                 severity="error"
                [style]="{'width':'490px','margin-top': '20px'}"
                 text="Last name is required">
            </p-message>
          </div>
    </div>


    
         <div  class="row">
            <div class="p-field">
                <label for="phoneNumber">Phone Number</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-phone"></i>
                  </span>
                  <input [pattern]="phoneNumberPattern"  pInputText placeholder="Phone Number" [(ngModel)]="contact.phone_number" name="phoneNumber" required>
               

                </div>
                <p-message 
                *ngIf="contactForm.controls['phoneNumber']?.touched && contactForm.controls['phoneNumber'].errors?.['required']"
                     severity="error"
                     [style]="{'width':'490px','margin-top': '20px', 'display': 'inline-block'}"
                     text="Phone number is required">
                </p-message>

                <p-message *ngIf="contactForm.controls['phoneNumber']?.touched && contactForm.controls['phoneNumber'].hasError('pattern')"
                severity="error"
                [style]="{'width':'480px','margin-top': '20px', 'display': 'block'}"
                text="Invalid phone number format. It should be 10 digits.">
     </p-message>
              </div>
              
              <div class="p-field">
                <label for="email">Email</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-envelope"></i>
                  </span>
                  <input id="email" placeholder="Email"  [email]="true"  type="email" pInputText [(ngModel)]="contact.email" name="email" required/>
                 
                </div>
                <p-message 
                *ngIf="contactForm.controls['email']?.touched && contactForm.controls['email'].errors?.['required']"
                     severity="error"
                     [style]="{'width':'490px','margin-top': '20px', 'display': 'inline-block'}"
                     text="Email is required">
                </p-message>

                <p-message *ngIf="contactForm.controls['email']?.touched && contactForm.controls['email'].hasError('email')"
                severity="error"
                [style]="{'width':'480px','margin-top': '5px', 'display': 'block'}"
                text="Invalid email format.">
     </p-message>
               
              </div>

         </div> 
         <div class="row">
           

           
         </div>
          
          
      <button type="button" style="margin-left:82%" pButton icon="pi pi-save" label="Save" (click)="addContact(contactForm)"></button>
    </form>
    <p-messages [value]="messages" [style]="{'font-size':'12px'}"></p-messages>
  </div>
  